body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

textarea {
    width: calc(100% - 22px);
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

button {
    flex: 1; /* Makes both buttons take equal space */
    padding: 10px;
    margin: 0 5px; /* Add some space between buttons */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#jsonOutput {
    margin-top: 20px;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
}

/* JSON List */
.json-list {
    list-style-type: none;
    padding-left: 20px;
}

.json-item {
    margin: 5px 0;
}

.toggle-btn {
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    color: #007BFF;
}

.toggle-btn:hover {
    color: #0056b3;
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 25px;
    color: white;
    background-color: #007BFF;
    text-align: center;
}
a {
    color: white;
    text-decoration: underline;
}
a:hover {
    font-weight: bold;
}
