<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Visualizer</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <br>
    <div class="home-container">
        <h1>Data Visualizer</h1>
        <h2><center>Visualizer for JSON, CSV, and XML files</center></h2>
    </div>
    <div class="box-container">
        <div class="box">
            <a href="{{ url_for('JSON') }}" class="header-link-home">JSON Visualizer</a>
        </div>
        <div class="box">
            <a href="{{ url_for('CSV') }}" class="header-link-home">CSV Visualizer</a>
        </div>
        <div class="box">
            <a href="{{ url_for('XML') }}" class="header-link-home">XML Visualizer</a>
        </div>
    </div>
    <br><br><br><br><br>
    <div id="footer">Created by <a href="https://github.com/PPilot2">Prahalad Anand</a></div>
    <script type="text/javascript" src="{{url_for('static', filename='json.js')}}"></script>
</body>
</html>
